body {
    font-family: Arial, sans-serif;
    background: #353538;
    
  }

  
  
  .create-post {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    padding: 100px;
    background-color: #f2f2f2;
    border-radius: 43px;
    background: #467172;
    box-shadow: inset -35px -35px 68px #467172,
                inset 35px 35px 68px #467172;
  }
  
  .create-post h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .create-post form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-post .form-group {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 2.5rem;
  }
  
  .create-post label {
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .create-post input,
  .create-post textarea,
  .create-post .ql-container {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
  }
  
  .create-post select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
  }


  
  .input-form {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  border: solid 1.9px #9e9e9e;
  border-radius: 1.3rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.textUser {
  position: absolute;
  left: 15px;
  color: #666666;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
  outline: none;
  box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
  background-image: linear-gradient(to top, rgba(182, 182, 182, 0.199), rgba(252, 252, 252, 0));
  transition: background 4s ease-in-out;
}

.input:focus ~ label, input:valid ~ label {
  transform: translateY(-95%) scale(0.9);
  padding: 0 .2em;
  color: #000000be;
  left: 80px;
}

.input:hover {
  border: solid 1.9px #000002;
  transform: scale(1.03);
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523);
  transition: border-color 1s ease-in-out;
}

.inputbox {
    width: 100%;
    text-align: left;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #1DC9A0;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
   }
   
   button:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: #1DC9A0;
    color: #1DC9A0;
    transform: translateY(-5px) scale(1.05);
   }
   
   button:active {
    background-color: transparent;
    border-color: #1DC9A0;
    color: #1DC9A0;
    transform: translateY(5px) scale(0.95);
   }
   
   button:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
   }