#subredditHeader{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
    background-color: orangered;
    min-width: 775px;
}

#user-avatar{
    align-self: center;
    height: 35px;
    width: 35px;
    border-radius: 20px;
}

#title-subLink-join{
    justify-items: space-around;
    padding-bottom: 20px;
}

#sub-title{
    margin-bottom: -5px;
}

#subreddit-description{
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    max-width: 200px;
    margin: 5px;
}

#filter-div{
    display:flex;
    flex-flow: column;
}

#post-filter-options{
    align-self: center;
    background-color: orangered;
    
}

#subreddit-banner-dropdown-menu-label{
    align-self: center;
    margin-right: 10px;
}

#join-button{
    align-self: center;
    background-color: orangered;
    color: white;
    border: solid white;
    border-width: 2px;
    border-radius: 10px;
    height: 20px;
    width: 50px;
    font-size: medium;
}
#join-button:hover{
    background-color: white;
    color: orangered;
    border: solid orangered;
    transition-duration: .2s;
}
