#subredditHeader{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

#subredditBannerDropdownMenu{
    margin-right: 10px;
}

#newPostButton{
    background-color: orange;
    color: white;
    border: solid white;
    border-width: 2px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: medium;
}
#newPostButton:hover{
    background-color: white;
    color: orange;
    border: solid orange;
    transition-duration: .2s;
}
