.home-page-filter-container{
    
    background-color: beige;
}


.filter-buttons{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.toggle-filter{
list-style-type: none;
}

@media screen and (max-width: 400px) {
    .post-modal {
      width: 150vw;
      height: 350vw;
      top: 5%;
    }
  }