.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #467172;
    padding: 5 20px;

    
  }
  
  .navBarInfo {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin-left: 1.5rem;
  }
 
  
  
  
  
  
  #navbar-buttons {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    color: black;
    
    
  }
  
  #navbar-buttons:hover {
    background-color: #1DC9A0;
    cursor: pointer;
    letter-spacing: 3px;
    background-color: #1DC9A0(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: #1DC9A0 0px 7px 29px 0px;
  }

  #barButton {
    display: flex;
    flex-direction: row;

  }

  #navbar-buttons:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .Link:hover {
    
    
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
    font-weight: bolder;
   }
    
  