.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #ff4500;
    padding: 5 20px;
    
  }
  
  .navBarInfo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
  }
  
  
  
  
  #navbar-buttons {
    background-color: #8b0000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    
    
  }
  
  #navbar-buttons:hover {
    background-color: #b30000;
    cursor: pointer;
  }

  #barButton {
    display: flex;
    flex-direction: row;

  }
  


.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  text-align: center;
  padding: 0!important;
}


.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modalHeader {
    height: 30px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.modalTitle {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}
  
.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

 