.post-card {
  display: flex;
  flex-direction: column;
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 51%;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
}

@media screen and (max-width: 400px) {
  .post-card {
    width: 100vw;
    height: 100vw;
    top: 5%;
  }  
}

.post-card img {
  width: 100%;
  height: 315px;
  object-fit: scale-down;
} 

#votes-div {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.votes {
  order: 1;
  float: right;
  margin: 5px;
}

#comments-tab {
  order: 2;
  margin-left: 30px;
}

.hide-element {
  display: none;
}

.post-modal {
  color: white;
  z-index: 1;
  border-radius: 25px;
  background: linear-gradient(45deg, #396662, #305653);
  padding: 1px 20px;
  position: fixed;
  width: 80vw;
  height: 90vw;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px #ffffff;
}

@media screen and (max-width: 400px) {
  .post-modal {
    width: 100vw;
    height: 250vw;
    top: 5%;
  }
}

.modal-title {
  text-align: center;
  margin-top: 20px;
  font-size: 4rem;
  font-weight: bolder;
}

.modal-image {
  max-width: 300px;
  max-height: 300px;
  margin-top: 20px;
}

.texts {
  margin-top: 20px;
  width: 100%;
}

.sub-count, .votes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.votes {
  margin-right: 5px;
}

.upvote-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.downvote-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.votes2 {
  margin-right: 5px;
}

.comments {
  margin-top: 20px;
  width: 100%;
}

.close-post-modal {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 25px;
  height: 40px;
}
